FinnishBarcodeAndBankAccount\#prev
/FinnishBarcodeAndBankAccount/#prev
/FinnishBarcodeAndBankAccount/bin/Debug
/FinnishBarcodeAndBankAccount/obj/x86
/FinnishBarcodeAndBankAccount/TestResults/491a9538-1bc9-4cbb-a618-99d060007332
/FinnishBarcodeAndBankAccountTests/bin/Debug
/FinnishBarcodeAndBankAccountTests/obj/Debug
*.suo
